footer {
    font-family: Poppins, sans-serif;
    width: 100%;
    height: 84px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.copyright p {
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 400;
}