.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    position: absolute;
    top: 2rem;
    left: 5.25rem;
    width: 124px;
}

.login-modal {
    font-family: "Poppins", sans-serif;
    width: 30%;
    padding: 4rem 5rem;
    margin: 0 auto;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background: rgba(8, 9, 11, 0.3);
    backdrop-filter: blur(7px);
}

.login-title h1 {
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    background-image: linear-gradient(to right, #ffffff 20%, #b6b6b6 30%, #ffffff 50%);
    background-clip: text;
    color: transparent;
    margin-bottom: 1.5rem;
}

.login-form label {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 0.25rem;
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
    background-clip: text;
    color: transparent;
}

.login-options {
    display: flex;
    justify-content: space-between;
}

.login-remember {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0.5rem;
}

.login-remember input[type="checkbox"] {
    opacity: 0;
}

.login-remember label {
    font-size: 0.75rem;
    font-weight: 300;
    user-select: none;
    background: linear-gradient(90deg, #fff 0%, #ffffff 100%);
    background-clip: text;
    color: transparent;
}

.login-remember input[type="checkbox"] + label {
    position: relative;
    cursor: pointer;
}

.login-remember input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -1.5rem;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}

.login-remember input[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -1.5rem;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("../../assets/check-bg.svg");
    background-position: center;
    background-size: cover;
}

.login-options a {
    padding-top: 4px;
    font-size: 0.75rem;
    color: #ffffff;
}

.login-options a:hover {
    padding-top: 4px;
    color: #ffffff;
    font-weight: bold;
}

.error-message {
    font-size: 0.75rem;
    color: #fb2c36;
    font-weight: 400;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.login-button {
    width: 100%;
    margin-top: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #f0f0f0;
    background-color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    transition: background 0.2s, color 0.2s;
    cursor: pointer;
}

.login-button:hover {
    background-color: #c9c9c9;
    border: 1px solid #c9c9c9;
    color: #ffffff;
}

.loading {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.login-no-account {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-weight: 200;
    text-align: center;
    font-size: 0.75rem;
}

.login-no-account p {
    background: linear-gradient(90deg, #fff 0%, #c9c9c9 100%);
    background-clip: text;
    color: transparent;
}

.login-no-account a {
    font-size: 0.75rem;
    color: #ffffff;
    font-weight: bold;
}

.login-no-account a:hover {
    color: #ffffff;
    font-weight: bold;
}
