.password-reset-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    position: absolute;
    top: 2rem;
    left: 5.25rem;
    width: 124px;
}

.password-reset-modal {
    font-family: "Poppins", sans-serif;
    width: 30%;
    padding: 4rem 5rem;
    margin: 0 auto;
    color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    background: rgba(8, 9, 11, 0.3);
    backdrop-filter: blur(7.5px);
}

.password-reset-title h2 {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    background-image: linear-gradient(to right, #ebc6a8 41.3%, #f0f0f0 56.57%);
    background-clip: text;
    color: transparent;
    margin-bottom: 1.5rem;
}

.password-reset-subtitle {
    font-size: 0.7rem;
    text-align: center;
    color: #f0f0f0;
    margin-bottom: 1rem;
}

.password-reset-form label {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
    background: linear-gradient(90deg, #fff 0%, #ebc6a8 100%);
    background-clip: text;
    color: transparent;
}

.password-reset-button {
    width: 100%;
    margin-top: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border: 1px solid #ebc6a8;
    border-radius: 20px;
    color: #f0f0f0;
    background-color: #ebc6a8;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    transition: background 0.2s, color 0.2s;
    cursor: pointer;
}

.password-reset-button:hover {
    background: transparent;
    border: 1px solid #ebc6a8;
    color: #ebc6a8;
}

.envelope {
    width: 2rem;
    height: 2rem;
    display: block;
    margin: 0.5rem auto;
    border: 1px solid #f0f0f0;
    padding: 0.75rem;
    border-radius: 999px;
}

.password-reset-sent {
    text-align: center;
    font-size: 0.8rem;
    background: linear-gradient(90deg, #fff 0%, #ebc6a8 100%);
    background-clip: text;
    color: transparent;
}

.loading {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.error-message {
    font-size: 0.75rem;
    color: #fb2c36;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
}

.message {
    font-size: 0.75rem;
    color: #00c951;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
}